
<div class="dropdown js-select-menu">
  <input type="hidden" value="" class="js-dropdown-input js-required">

  <button type="button" class="currency-btn text-left js-select-toggle position-relative pr-15" type="button" data-toggle="dropdown" aria-haspopup="true" data-flip="false" aria-expanded="false" data-offset="0, 10">CAD $</button>

	<div class="dropdown-menu">
    <div class="dropdown__select text-nowrap nav" role="tablist">
      <button type="button" class="dropdown__select__item selected d-block w-100 p-15 text-left js-select-item"><span class="js-select-option">CAD $</span></button>
      <button type="button" class="dropdown__select__item d-block w-100 p-15 text-left js-select-item"><span class="js-select-option">USD $</span></button>
      <button type="button" class="dropdown__select__item d-block w-100 p-15 text-left js-select-item"><span class="js-select-option">EUR €</span></button>
    </div>
  </div>
</div>