<footer class="footer line-height-1 py-sm-45">
	<div class="container">
		<div class="footer__content py-sm-45">
			<div class="row">
				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Bus Deals</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="">Montreal to New York</a></li>
							<li><a href="">Vancouver to Seattle</a></li>
							<li><a href="">Edmonton to Calgary</a></li>
							<li><a href="">Montreal to Ottawa</a></li>
							<li><a href="">Ottawa to Toronto</a></li>
							<li><a href="">Montreal to Toronto</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Bus and Hotel Deals</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="">Montreal to New York</a></li>
							<li><a href="">Quebec City to Montreal</a></li>
							<li><a href="">Vancouver to Seattle</a></li>
							<li><a href="">Edmonton to Calgary</a></li>
							<li><a href="">Montreal to Ottawa</a></li>
							<li><a href="">Ottawa to Toronto</a></li>
							<li><a href="">Montreal to Toronto</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Organized Tours</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="">New York</a></li>
							<li><a href="">Montreal</a></li>
							<li><a href="">Calgary</a></li>
							<li><a href="">Ottawa</a></li>
							<li><a href="">Toronto</a></li>
							<li><a href="">Edmonton</a></li>
							<li><a href="">Vancouver</a></li>
							<li><a href="">Seattle</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Activities</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="">Madame Tussauds</a></li>
							<li><a href="">By Night Tours</a></li>
							<li><a href="">City Tours</a></li>
							<li><a href="">Jazz Concerts</a></li>
							<li><a href="">Boat Tours</a></li>
							<li><a href="">Off the beaten path</a></li>
							<li><a href="">Broadway Shows</a></li>
							<li><a href="">Music Festivals</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Book Your</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="">Bus</a></li>
							<li><a href="">Bus with Hotel</a></li>
							<li><a href="">Organized Tour</a></li>
							<li><a href="">Adventure</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-12">
					<button type="button" data-toggle="collapse" data-target="#" class="footer__menu__title mb-sm-20 font-size-sm font-family-nexa-bold">Contacts</button>
					<div class="collapse d-sm-block">
						<ul class="footer__menu__list">
							<li><a href="mailto: support@tourika.com">support@tourika.com</a></li>
							<li><a href="">Live Support</a></li>
							<li><a href="tel: 18558687452">1-855-868-7452 (Toll-free)</a></li>
							<li><a href="tel: 15147002091">1-514-700-2091</a></li>
						</ul>

						<div class="d-flex mt-15">
							<a href="" class="btn__social mr-15 text-center rounded-circle">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.5 0H1.5C0.67275 0 0 0.67275 0 1.5V10.5C0 11.3273 0.67275 12 1.5 12H6V7.875H4.5V6H6V4.5C6 3.25725 7.00725 2.25 8.25 2.25H9.75V4.125H9C8.586 4.125 8.25 4.086 8.25 4.5V6H10.125L9.375 7.875H8.25V12H10.5C11.3273 12 12 11.3273 12 10.5V1.5C12 0.67275 11.3273 0 10.5 0Z" fill="white"/>
								</svg>
							</a>

							<a href="" class="btn__social mr-15 text-center rounded-circle">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.25 0H3.75C1.67925 0 0 1.67925 0 3.75V8.25C0 10.3208 1.67925 12 3.75 12H8.25C10.3208 12 12 10.3208 12 8.25V3.75C12 1.67925 10.3208 0 8.25 0ZM10.875 8.25C10.875 9.6975 9.6975 10.875 8.25 10.875H3.75C2.3025 10.875 1.125 9.6975 1.125 8.25V3.75C1.125 2.3025 2.3025 1.125 3.75 1.125H8.25C9.6975 1.125 10.875 2.3025 10.875 3.75V8.25Z" fill="white"/>
									<path d="M6 3C4.34325 3 3 4.34325 3 6C3 7.65675 4.34325 9 6 9C7.65675 9 9 7.65675 9 6C9 4.34325 7.65675 3 6 3ZM6 7.875C4.9665 7.875 4.125 7.0335 4.125 6C4.125 4.96575 4.9665 4.125 6 4.125C7.0335 4.125 7.875 4.96575 7.875 6C7.875 7.0335 7.0335 7.875 6 7.875Z" fill="white"/>
									<path d="M9.22397 3.17449C9.44475 3.17449 9.62372 2.99552 9.62372 2.77475C9.62372 2.55397 9.44475 2.375 9.22397 2.375C9.00319 2.375 8.82422 2.55397 8.82422 2.77475C8.82422 2.99552 9.00319 3.17449 9.22397 3.17449Z" fill="white"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>