<section>
	<div class="container">
		<div class="subscription pt-sm-70 pt-60 pb-25 text-center">
			<div class="row justify-content-md-center mb-sm-35 mb-20">
				<div class="col-lg-7 col-md-9 col-12">
					<h4 class="subscription__title mb-20 font-family-nexa-bold">Get travel offers, trip reminders and other updates by email.</h4>
					<p>Subscribe and get your 30 visits and activities for free in NYC</p>
				</div>
			</div>

			<div class="row justify-content-lg-center mb-15">
				<div class="col-lg-10 px-25">
					<form action="subscribe.html">
						<div class="row mx-sm-n12-half">
							<div class="col-sm col-12 px-sm-12-half mb-sm-0 mb-20">
								<input type="text" class="form__control form__control--lg" placeholder="First Name">
							</div>
							<div class="col-sm col-12 px-sm-12-half mb-sm-0 mb-20">
								<input type="email" class="form__control form__control--lg" placeholder="Email">
							</div>
							<div class="col-sm-auto col-12 mb-sm-0 mb-20">
								<button type="submit" class="btn btn--lg btn--orange">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="subscription__terms col-lg-7 col-md-9 col-12">
					<p>I want emails from Tourika with travel and product information, promotions, advertisements, third-party offers, and surveys. <br>I can unsubscribe any time using the unsubscribe link at the end of all emails. Contact Tourika here. Tourika Privacy Policy.</p>
				</div>
			</div>
		</div>
	</div>
</section>