//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $font-family-nexa-bold;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-height, $btn-padding-x, $btn-font-size, $btn-line-height);
  @include border-radius($btn-border-radius);

    @at-root a#{&} {
      @extend .d-inline-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
      cursor: pointer;
    }
    

    //
    // Button Sizes
    //
    &--sm {
      font-family: $font-family-nexa-regular;
      @include border-radius($btn-border-radius-sm)
      @include button-size($btn-height-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height);
    }

    // &--md {
    //   min-width: $btn-min-width-md;
    //   @include button-size($btn-height-md, $btn-padding-x-md, $btn-font-size-md, $btn-line-height-md);
    // }

    &--lg {
      font-family: $font-family-nexa-regular;
      @include border-radius($btn-border-radius-lg)
      @include button-size($btn-height-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height);
    }

    // &__state {

    //     &--default {

    //         .btn__state[aria-expanded="true"] &,
    //         .btn__state.active:not([aria-expanded]) & {
    //           @extend .d-none;
    //         }
    //     }

    //     &--active {
            
    //         .btn__state[aria-expanded="false"] &,
    //         .btn__state:not(.active):not([aria-expanded]) & {
    //           @extend .d-none;
    //         }
    //     }
    // }


    &__social {
      @include size(30px);
      line-height: 30px;
      background-color: $orange;
      font-size: 0;

        &:hover {
          background-color: #EC8F8C;
        }
    }

}

//
// Alternate buttons
//
@each $color, $value in $btn-colors {
  $text-color: map-get($value, color);
  $background: map-get($value, background);
  $hover-color :map-get($value, hover-color);
  $hover-background: map-get($value, hover-background);
  $focus-background: map-get($value, focus-background);
  $focus-box-shadow: map-get($value, focus-box-shadow);

    .btn--#{$color} {
      @include button-variant(
        $text-color,
        $background,
        $hover-color,
        $hover-background,
        $focus-background,
        $focus-box-shadow
      );
    }
}

@each $color, $value in $btn-outline-colors {
  $text-color: map-get($value, color);
  $border: map-get($value, border);
  $hover-color :map-get($value, hover-color);
  $hover-background: map-get($value, hover-background);
  $hover-border: map-get($value, hover-border);

    .btn--outline-#{$color} {
      @include button-outline-variant(
        $text-color,
        $border,
        $hover-color,
        $hover-background,
        $hover-border
      );
    }
}
