.dropdown {

		@include media-breakpoint-down(xs) {

				&--opened {
					position: fixed;
					top: 0;
					width: 100%; 
					height: 100vh;
					overflow: hidden;
				}

				&__close {
					font-size: 15px;
					height: 56px;
					border-bottom: 1px solid rgba($blue, .1);

						&:before,
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 20px;
							bottom: 0;
							margin: auto;
							@include size(13px, 2px);
							background-color: $blue;
							border-radius: 1px;
						}

						&:before {
							transform: translate(0, 4px) rotate(45deg);
						}

						&:after {
							transform: translate(0, -4px) rotate(-45deg);
						}
				}

				&__confirm {
					position: relative;
					z-index: 2;
					box-shadow: 0 -2px 5px rgba($blue, .2);
				}
		}
	
		&-menu {

			@include media-breakpoint-up(sm) {

					&--lg {
						overflow: hidden;
						width: 328px;
						max-height: 396px;
					}
			}

			@include media-breakpoint-down(xs) {

					&--fixed {
						position: fixed !important;
						transform: none !important;
						top: 0;
						right: 0 !important;
						bottom: 0 !important;
						padding: 0;
						background-color: $gray-100;
						box-shadow: none;
						overflow: auto;
						border-radius: 0;
						-webkit-overflow-scrolling: touch;
					}
			}
		}

		&__select {

				&__item {

						&:before {
							content: '';
							@extend .d-inline-block;
							@include size(16px, 11px);
							margin-right: 8px;
						}

						&.active {
							@extend .font-family-nexa-heavy;

								&:before {
									background: $dropdown-select-indicator-icon-selected;
								}
						}
				}
		}

		&__item {
			height: 57px;

				&:hover,
				&.active {
					background-color: #F7FAFD;
				}
		}

		&__icon {
			width: 20px;
		}
}

.dropdown-toggle {
		
		&:after {
			content: '';
			@extend .d-inline-block;
			@include size(10px, 6px);
			@extend .ml-5;
			background: $dropdown-caret-icon;
		}
}