// Images path
// ------------
$images: '../images/';
$images-arrows: '#{$images}arrows/';
$images-background: '#{$images}backgrounds/';
$images-buttons: '#{$images}buttons/';
$images-examples: '#{$images}examples/';
$images-icons: '#{$images}icons/';
$images-img: '#{$images}img/';
$images-logos: '#{$images}logos/';
$images-separetor: '#{$images}separetors/';
$images-shadows: '#{$images}shadows/';
$images-sprites: '#{$images}sprites/';
$images-svg: '#{$images}svg/';

$font-path: "../fonts/" !default;

$default-transition: 250ms ease-in-out !default;

$font-family-nexa-thin: 'Nexa', sans-serif;
$font-family-nexa-thin-it: 'Nexa Thin', sans-serif;
$font-family-nexa-light: 'Nexa', sans-serif;
$font-family-nexa-light-it: 'Nexa Light', sans-serif;
$font-family-nexa-book: 'Nexa Book', sans-serif;
$font-family-nexa-book-it: 'Nexa Book', sans-serif;
$font-family-nexa-regular: 'Nexa', sans-serif;
$font-family-nexa-regular-it: 'Nexa', sans-serif;
$font-family-nexa-bold: 'Nexa', sans-serif;
$font-family-nexa-bold-it: 'Nexa', sans-serif;
$font-family-nexa-extra-bold: 'Nexa XBold', sans-serif;
$font-family-nexa-extra-bold-it: 'Nexa XBold', sans-serif;
$font-family-nexa-heavy: 'Nexa', sans-serif;
$font-family-nexa-heavy-it: 'Nexa Heavy', sans-serif;
$font-family-nexa-black: 'Nexa', sans-serif;
$font-family-nexa-black-it: 'Nexa Black', sans-serif;