<div class="dropdown js-select-menu">
  <input type="hidden" value="@@active" class="js-required js-dropdown-input">
  <button type="button" class="dropdown-toggle py-10 font-family-nexa-bold js-select-toggle" type="button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">@@active</button>
  
  <div class="dropdown-menu">
    <div class="dropdown__select text-nowrap nav" role="tablist">
      <button type="button" data-target="#oneWay" data-toggle="tab" role="tab" aria-selected="true" class="dropdown__select__item d-block w-100 p-15 text-left @@if( active === 'One Way' ) {selected active} js-select-item"><span class="js-select-option">One Way</span></button>
      <button type="button" data-target="#roundTrip" data-toggle="tab" role="tab" aria-selected="false" class="dropdown__select__item d-block w-100 p-15 text-left @@if( active === 'Round-trip' ) {selected active}  js-select-item"><span class="js-select-option">Round-trip</span></button>
    </div>
  </div>
</div>