<div class="dropdown js-select-menu">
  <button type="button" class="dropdown-toggle py-10 font-family-nexa-bold js-select-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">One Way</button>
  <div class="dropdown-menu">
    <div class="dropdown__select">
      <button type="button" class="dropdown__select__item d-block w-100 p-15 text-left active js-select-item">One Way</button>
      <button type="button" class="dropdown__select__item d-block w-100 p-15 text-left js-select-item">Round-trip</button>
    </div>
  </div>
</div>