.features {
	line-height: 1.2;

		@include media-breakpoint-up(sm) {
			font-size: $font-size-sm;
		}

		@include media-breakpoint-down(xs) {
			font-size: 12px;
		}

		&__item {

				@include media-breakpoint-up(sm) {
					max-width: 295px;
				}

				&__icon {
					@include size(40px);
				}

				&__title {

						@include media-breakpoint-up(sm) {
							font-size: $h6-font-size;
						}

						@include media-breakpoint-down(xs) {
							font-size: $font-size-sm;
						}
				}
		}
}