.search {

		&__section {
			z-index: 2;

				@include media-breakpoint-up(sm) {
					margin-bottom: -64px;

						.container {
							transform: translateY(-64px);
						}
				}
		}

		&__nav {
				
				&__btn {
					height: 45px;
					@include border-top-radius(5px);

						&:not(:last-child) {
							margin-right: -1px;
						}

						&:not(.active) {
							@extend .font-family-nexa-bold;
							background-color: $gray-100;
							box-shadow: inset 0 1px 0 $gray-200, inset 1px 0 0 $gray-200, inset -1px 0 0 $gray-200;

								&:after {
									background-color: $gray-100;
								}

								&:hover {
									color: $blue;

										path {
											fill: $blue;
										}
								}
						}

						&.active {
							position: relative;
							color: $blue;
							@extend .font-family-nexa-heavy;
							background-color: $white;
							box-shadow: 0 -3px 0 $orange;
							z-index: 2;

								path {
									fill: $blue;
								}
						}

						@include media-breakpoint-up(sm) {
							font-size: 14px;
							min-width: 160px;

								&:not(.active) {
									color: #A1A9C3;

										path {
											fill: #A1A9C3;
										}
								}
						}
				}
		}

		&__tabs {
			z-index: 2;

				@include media-breakpoint-up(sm) {
					border-top-right-radius: $border-radius;

						.btn--orange {
							width: 150px;
						}
				}

				&__info {
					font-size: 12px;
				}
		}

		&__switching {

				&.form__icon path {
					fill: $blue !important;
				}
		}
}