.results {
	// border-top: 1px solid rgba($blue, .1);

		&__header {
			z-index: 2;
		}

		&__titles {
			border-top: 1px solid rgba($blue, .1);
		}

		&__title {

				@include media-breakpoint-up(sm) {
					font-size: 26px;
				}

				&__selected {
					font-size: $font-size-lg;
				}
		}

		&__item {
			max-width: 750px;
		}
}