.ticket {

		&__top {
			border-bottom: 1px dashed #ddd;

				&:before,
				&:after {
					content: '';
					position: absolute;
					bottom: -10px;
					@include size(20px);
					border-radius: 50%;
					background-color: $gray-100;
				}

				&:before {
					left: -10px;
					box-shadow: inset -4px 0 8px -6px rgba($blue, .3);
				}

				&:after {
					right: -10px;
					box-shadow: inset 4px 0 8px -6px rgba($blue, .3);
				}
		}

		&__operated {
			color: #666670;

				@include media-breakpoint-up(sm) {
					font-size: 12px;
				}

				@include media-breakpoint-down(xs) {
					font-size: 10px;
				}
		}

		&__from-to-time {

				@include media-breakpoint-up(sm) {
					font-size: 22px;

						sup {
							font-size: 12px;
						}
				}

				@include media-breakpoint-down(xs) {
					font-size: 16px;

						sup {
							font-size: 9px;
						}
				}
		}

		&__price {
			margin-bottom: 8px;

				@include media-breakpoint-up(sm) {
					font-size: 22px;
				}

				@include media-breakpoint-down(xs) {
					font-size: 16px;
				}
		}

		&__travel-time {

				@include media-breakpoint-up(sm) {
					font-size: 14px;
				}

				@include media-breakpoint-down(xs) {
					font-size: 12px;
				}
		}

		&__price-info {

				@include media-breakpoint-up(sm) {
					font-size: 14px;
				}

				@include media-breakpoint-down(xs) {
					font-size: 12px;
				}
		}

		&__btn {

				@include media-breakpoint-up(sm) {
					width: 210px;
				}
		}
}