// Remove Colors
$colors: map-remove(
  $colors,
  // "blue",
  "indigo",
  "purple",
  "pink",
  "red",
  // "orange",
  "yellow",
  "green",
  "teal",
  "cyan",
  "white",
  "gray",
  "gray-dark"
);

// Add Colors
$colors: map-merge((
  "black": $black,
  "gray-100": $gray-100,
  "gray-400": $gray-400,
  "blue-sub": $blue-sub
), $colors);

// Remove Theme Colors
$theme-colors: map-remove(
	$theme-colors, 
  "primary",
  "secondary",
  "success",
  "info",
  "warning",
  "danger",
  "light",
  "dark"
);

// Remove Theme Breakpoints
$grid-breakpoints: map-remove(
  $grid-breakpoints,
  xs, sm, md, lg, xl
);

// Remove Theme Containers
$container-max-widths: map-remove(
  $container-max-widths,
  xs, sm, md, lg, xl
);

// Theme Breakpoints
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1180px
  ),
  $grid-breakpoints
);

// Theme Containers
$container-max-widths: map-merge(
  (
    sm: 768px,
    md: 960px,
    lg: 1140px,
  ),
  $container-max-widths
);


// Add Theme Colors
$theme-colors: map-merge((
), $theme-colors);

// Add Buttons
$btn-colors: (
  'orange': (
    color: $white,
    background: $orange,
    hover-color: $white,
    hover-background: #EC8F8C,
    focus-background: $orange,
    focus-box-shadow: 0 0 10px $orange,
    disabled-background: $orange-disabled
  ),
);

$btn-outline-colors: (
  "blue": (
    color: $blue-sub,
    border: $blue-sub,
    hover-color: $white,
    hover-background: $blue-sub,
    hover-border: $blue-sub
  ),

  "orange": (
    color: $orange,
    border: $orange,
    hover-color: $orange,
    hover-background: $white,
    hover-border: $orange
  ),
);

// Remove Spacers ex. 5: 5px
$spacers: map-remove(
  $spacers, 1, 2, 3, 4, 5
);

// Add Spacers ex. 5: 5px, padding, margin
$spacers: map-merge((
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px,
  55: 55px,
  60: 60px,
  70: 70px,
  80: 80px
), $spacers);

// Remove sizes width & height
$sizes: map-remove(
  $sizes,
  25,
  50,
  75,
  auto
);

// Add sizes width & height
$sizes: map-merge((
), $sizes
);