.packages {

	&__box {

		.btn {
			width: 210px;
			margin-top: 130px;
		}
	}

	&__box-data {
		font-size: 13px;
		line-height: (16/13);
	}

	&__box-thumb {
		max-width: 225px;
	}
}

.price-person {
	font-size: 12px;
}

.price-child {
	font-size: 8px;
}

.faq-subtitle {
	box-shadow: 0 1px 0 #f1f2f6;
}
    