.itineraries {

	&__change-option {
		font-size: 0;
	}

	&__title {
		font-size: 28px;
	}

	&__intro {
		max-width: 1440px;
		background-size: cover;

		@include media-breakpoint-up(md) {
			padding-top: 100px;
		}
	}

	&__intro-title {
		@include media-breakpoint-up(lg) {
			font-size: 74px;
		}
	}

	&__features {
		width: 62px;
		height: 62px;
		line-height: 62px;
		border: 3px solid rgba(#fff,.5);
	}

	&__features-cont {
		line-height: (19/16);
	}

	&__container {
		max-width: 1240px;
	}

	&__slider-wrapper {
		z-index: 2;

		&:after {
			content: "";
	    position: absolute;
	    bottom: 0;
	    left: -9999px;
	    right: -9999px;
	    height: 130px;
	    background-color: #fff;
	    z-index: 1;
		}
	}

	&__slider {
		z-index: 99;
	}

	&__slide-numb {
			
			span {
				color: #C8C8C8;
			}
	}

	&__accordion-btn {
		min-height: 60px;
		box-shadow: 0 1px 0 $gray-100;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			@include size(14px, 2px);
			background-color: $gray-900;
		}

		&:before {
			transform: translate(-4px, 0) rotate(45deg);
		}

		&:after {
			transform: translate(5px, 0) rotate(-45deg);
		}

		&[aria-expanded="true"] {

			&:before {
				transform: translate(4px, 0) rotate(45deg);
			}

			&:after {
				transform: translate(-5px, 0) rotate(-45deg);
			}
		}
	}
}

.collapse-content {
	font-size: 13px;
	line-height: (24/13);
}

.slider-number {
	bottom: 60px;
}

.gallery-line {
	width: 120px;
	height: 2px;
	left: 0;
	background-color: #C8C8C8;
}

.step-line {
	left: 0;
	z-index: 1;
}

.packages-data {
	font-size: 0;

	@include media-breakpoint-up(lg) {
		margin-bottom: 235px;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 90px;
	}

	li {
		font-size: 13px;
	}

	li:not(:last-child) {

		&:after {
			content: "|";
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px;;
		}
	}
}

.packages-features {

	>.row:first-child {
		border-bottom: 1px solid #fff;
	}
}

.button-line {

	&:before,
	&:after {
		content: "";
    position: absolute;
    height: 50%;
    width: 30%;
    top: 0;
    bottom: 0;
    box-shadow: 0 1px 0 #F1F2F6;
	}

  &:before {
    left: 120px;
  }

  &:after {
		right: 120px;
  }

  .btn {
  	padding-left: 75px;
    padding-right: 75px;
  }

  span {
  	z-index: 2;
  }
}

.accordion-wrapper {
	border: 1px solid #F1F2F6;
}

.btn-accordion-i {
	left: -40px;
}