.js-reviews-carousel {

	&__name {
		font-size: 15px;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 0;
		width: 20px;
	  height: 100%;

		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 40px;
			left: 0;
			right: 0;
			@include size(20px, 2px);
			background-color: $blue;
			transition: $default-transition;
			margin: auto;
		}
	}

	.owl-prev {
		left: 0;

		&:before {
			transform: translate(-2px, 8px) rotate(55deg);
		}

		&:after {
			transform: translate(-2px, -8px) rotate(-55deg);
		}
	}

	.owl-next {
		right: 0;

		&:before {
			transform: translate(2px, -8px) rotate(55deg);
		}

		&:after {
			transform: translate(2px, 8px) rotate(-55deg);
		}
	}
}